.home {
   background: transparent;
   color: white;
   font-family: "Roboto", sans-serif;
   padding: 10px 10px 0px;
   min-height: 100vh;
   position: relative;
   overflow: hidden;
}

.navbar {
   display: flex;
   justify-content: space-between;
   /* align-items: center; */
}

.links {
   display: flex;
   justify-content: center;
   align-items: center;
}

.links h2 {
   margin-left: 20px;
   font-size: 18px;
   font-weight: 500;
   cursor: pointer;
}
.links h2:hover{
color: #E4AA48;
font-weight: 800;
transition: .8s;
}
.c-active{
color: #E4AA48;
font-weight: 800;
transition: .8s;
}

.links h3 {
   margin: 11px 10px;
   font-size: 23px;
}

.b-icons {
   font-size: 24px;
   margin: 10px 7px;
   cursor: pointer;
}

.contact-line{
   position: relative;
}

.phone-icons * {
   margin-top: 0px;

}
.phone-icons{
   position: absolute;
   display: flex;
   flex-direction: column;
   top: 55px;
   right: 30px;
}

.circle {
   top: 50px;
   left: 4px;
   position: absolute;
   height: 350px;
   width: 350px;
   border-radius: 50%;
   background: #2B2B34;
}

#picture {
   position: relative;
   height: 600px;
}

.introduction {
   width: 350px
}
.introduction p{
   font-family: 'Roboto',serif;
   font-weight: 400;
   font-style: italic;
   font-size: 18px;
}

.content {
   display: flex;
   flex-wrap: wrap;
   padding-top: 40px;
   padding-bottom: 0px;
   text-align: left;
   padding: 10px;
}


.title h2 {
   font-size: 40px;
}

#aim {
   margin: -50px auto 20px -5px;
   font-size: 64px;
}

.intro {
   color: #E4AA48;
}

.line {
   width: 100px;
   height: 3px;
   background-color: #E4AA48;
}

.contacts {
   display: flex;
}
.contacts a{
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
  color: white;
}
.contacts a:hover{
   color: #E4AA48;
   font-size: 20px;
   transition: 0.3s;
}

.down h4 {
   margin: 0px 5px;
}

.up h4 {
   margin: 20px 5px 10px;
}

.contact-button {
   margin-top: 20px;
   border: 2px solid #E4AA48;
   /* #9595ee; */
   width: 160px;
   height: 35px;
   display: flex;
   text-align: center;
   flex-direction: column;
   justify-content: center;
   font-weight: 500;
   font-size: 18px;
   transition: .8s;
}

.contact-button:hover {
   background-color: #E4AA48;
   color: black;
   transition: .8s;
}

.contact-line:hover {
   text-decoration: underline;
}
.name-point{
   margin:-12px 0;
}
.go-down{
   font-size: 36px;
   transition: .5s;
   cursor: pointer;
   position: absolute;
   bottom: 40px;
   text-align: center;
   width: 100%;
}
.go-down-icon:hover{
   color: #E4AA48;
   transition: .5s;
}
.blocks-for-life{
   display: flex;
   font-size: 30px;
   font-weight: 600;
   margin-bottom: -90px;
   margin-left: -20px;
   align-self: flex-end;
   justify-content: center;
   }
   .for-life{
   color: #E4AA48;
   }
   .twitter{
      color: #1D9BF0;
   }
   .email{
     color: #C5221F;
   }
   .phonee{
     color: #26AA26;
   }
   .linkedin{
      color: #0A66C2;
   }
   .b-icon {
      font-size: 18px;
      /* margin: 10px 7px; */
      margin-bottom: -7px;
      cursor: pointer;
   }
   .github{
      margin-bottom: 0px;
      color: white;
   }
   .codewars{
      height: 25px;
     background: #B1361E;
   }
   .all-icons{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
   }
   .contact-items{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
   }
   .contact-items div{
      border-radius: 4px;
      padding: 6px;
      background: #17171891;
   }
   .text-copied{
      top: 5px;
      color: #E4AA48;
      position: absolute;
      animation: copied 2s ease-in-out;
   }

   @keyframes copied {
      0%{
         transform: scale(1);
      }
      65%{
         transform: scale(1.6);
      }
      80%{
         transform: scale(1);
      }
      100%{
         transform: scale(0);
      }
   }
@media only screen and (min-width:430px) {
   .home {
      padding: 30px 40px 0px;
   }

   .links h2 {
      margin-left: 50px;
      font-size:20px;
      font-weight: 500;
      cursor: pointer;
   }
   .links h2:hover{
      font-size: 24px;
      transition: .3s;
   }
   .c-active{
      font-size: 24px;
      transition: .3s;
   }

   .contact-line:hover {
      text-decoration: none;
   }

   .phone-icons{
      top: 90px;
      right: 60px;
   }
  
 
   .navbar{
      align-items: center;
   }
   .content{
      justify-content: space-between;
   }
   .name-point{
      margin: 0;
   }
}